# 토끼와 거북이의 달리기 경주
- 토끼와 거북이가 달리기 경주를 시작했습니다.

- 토끼는 N분에 한번 휴식을 하고 거북이는 M분에 한번 휴식을 한다고 합니다.

- 토끼와 거북이가 처음으로 같은 타이밍에 쉬는 시간은 언제일까요?


### 문제 설명
- 토끼의 휴식시간 N과 거북이의 휴식시간 M이 인자로 주어졌을때, 토끼와 거북이가 동시에 휴식하는 최초의 시간을 출력하는 프로그램을 작성해봅시다.

* * *
### 예를들어 다음 입력이 주어지면
3 5

### 이렇게 출력됩니다.
15
* * *

### 처음 수정한 코드

In [1]:
# rabbit, turtle = input().split(',')
rabbit = 3
turtle = 5

Min = rabbit * turtle
print(Min)

15

In [89]:
def fildDuplicate(nums):
    Max = max(nums)
    rabbit = nums[0]
    turtle = nums[1]
#     print(rabbit)
#     print(tuttle)
    
    rabbit_list = list()
    turtle_list = list()
    
    for i in range(1,Max+1):
        rabbit_list.append(rabbit*i)
        turtle_list.append(turtle*i)
        i += 1
#         print(rabbit_list)
#         print(tuttle_list)
    duplicate = set(rabbit_list) & set(turtle_list)
    list_type = list(duplicate)
    print("list_type", list_type)
    list_type.sort()
    print("list_type_sort", list_type)
    print(list_type[0])
        
fildDuplicate([12,7])

list_type [84]
list_type_sort [84]
84

### 최종 코드

In [88]:
def fildDuplicate(nums):
    Max = max(nums)
    rabbit = nums[0]
    turtle = nums[1]
    
    rabbit_list = list()
    turtle_list = list()
    
    for i in range(1,Max+1):
        rabbit_list.append(rabbit*i)
        turtle_list.append(turtle*i)
        i += 1

        duplicate = set(rabbit_list) & set(turtle_list)
    
    list_type = list(duplicate)
    list_type.sort()
    print(list_type[0])

nums =list(map(int,input().split()))
fildDuplicate(nums)

3 5
15